<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.clickMe.Inquiry.model.dao.InquiryMapper">
	
	<resultMap id="inquiryResultMap" type="org.clickMe.common.model.dto.InquiryDTO">
		<id property="code" column="INQ_CODE"/>
		<result property="inqTypeCode" column="INQ_TYPE_CODE"/>
		<result property="userCode" column="USER_CODE"/>
		<result property="inqTitle" column="INQ_TITLE"/>
		<result property="inqContent" column="INQ_CONTENT"/>
		<result property="inqTime" column="INQ_TIME"/>
		<result property="ansContent" column="ANS_CONTENT"/>
		<result property="ansTime" column="ANS_TIME"/>
		<result property="ansYn" column="ANS_YN"/>
	</resultMap>
	
	<select id="selectAllInquiry" resultMap="inquiryResultMap">
		SELECT
		       A.INQ_CODE
		     , A.INQ_TYPE_CODE
		     , A.USER_CODE
		     , A.INQ_TITLE
		     , A.INQ_CONTENT
		     , A.INQ_TIME
		     , A.ANS_CONTENT
		     , A.ANS_TIME
		     , A.ANS_YN
		  FROM INQUIRY A
	</select>
	
	<select id="selectNotAnsweredInquiry" resultMap="inquiryResultMap">
		SELECT
		       A.INQ_CODE
		     , A.INQ_TYPE_CODE
		     , A.USER_CODE
		     , A.INQ_TITLE
		     , A.INQ_CONTENT
		     , A.INQ_TIME
		     , A.ANS_CONTENT
		     , A.ANS_TIME
		     , A.ANS_YN
		  FROM INQUIRY A
		 WHERE A.ANS_YN = 'N'
	</select>
	
	<select id="selectAnsweredInquiry" resultMap="inquiryResultMap">
		SELECT
		       A.INQ_CODE
		     , A.INQ_TYPE_CODE
		     , A.USER_CODE
		     , A.INQ_TITLE
		     , A.INQ_CONTENT
		     , A.INQ_TIME
		     , A.ANS_CONTENT
		     , A.ANS_TIME
		     , A.ANS_YN
		  FROM INQUIRY A
		 WHERE A.ANS_YN = 'Y'
	</select>
	
	<insert id="insertInquiry" parameterType="org.clickMe.common.model.dto.InquiryDTO">
		INSERT
		  INTO INQUIRY
		(
		  INQ_CODE
		, INQ_TYPE_CODE
		, USER_CODE
		, INQ_ATTACHMENT
		, INQ_TITLE
		, INQ_CONTENT
		, INQ_TIME
		, ANS_CONTENT
		, ANS_TIME
		, ANS_YN
		)
		VALUES
		(
		  SEQ_INQ_CODE.NEXTVAL
		, 1 <!-- will be changed after implement categoryDTO -->
		, 2 <!-- will be changed after USER jsp completed -->
		, NULL <!-- will be change after implement attachment function completed -->
		, #{ inqTitle }
		, #{ inqContent }
		, SYSDATE
		, NULL
		, NULL
		, 'N'
		)
	</insert>
	
	<select id="selectinquiryDetail" resultMap="inquiryResultMap">
		SELECT
		       A.INQ_CODE
		     , A.INQ_TYPE_CODE
		     , A.USER_CODE
		     , A.INQ_TITLE
		     , A.INQ_CONTENT
		     , A.INQ_TIME
		     , A.ANS_CONTENT
		     , A.ANS_TIME
		     , A.ANS_YN
		  FROM INQUIRY A
		 WHERE A.INQ_CODE = #{ code }
	</select>
</mapper>
