<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.clickMe.post.model.dao.PostMapper">
	<resultMap type="PostDTO" id="postDefaultResultMap">
		<id property="code" column="POST_CODE"/>
		<result property="sellerCode" column="SELLER_CODE"/>
		<result property="buyerCode" column="BUYER_CODE"/>
		<result property="catCode" column="POST_CAT_CODE"/>
		<result property="authCode" column="AUTH_CODE"/>
		<result property="title" column="POST_TITLE"/>
		<result property="content" column="POST_CONTENT"/>
		<result property="likeCount" column="LIKE_COUNT"/>
		<result property="time" column="POST_TIME"/>
		<result property="soldYn" column="SOLD_YN"/>
		<result property="reportCount" column="REPORT_COUNT"/>
		<result property="blindYn" column="BLIND_YN"/>
		<result property="itemPrice" column="ITEM_PRICE"/>
		<result property="view" column="POST_VIEW"/>
	</resultMap>
	<!-- 
	<resultMap type="PostForAdminDTO" id="postForAdminResultMap">
		<id property="code" column="POST_CODE"/>
		<result property="authStatus" column=""/>
		<result property="title" column=""/>
		<result property="sellerId" column=""/>
		<result property="blindYn" column=""/>
		<result property="time" column=""/>
	</resultMap>
	 -->
	
	<select id="selectAllPost" resultMap="postDefaultResultMap">
		SELECT
			   A.POST_CODE
             , A.SELLER_CODE
             , A.BUYER_CODE
             , A.POST_CAT_CODE
             , A.AUTH_CODE
             , A.POST_TITLE
             , A.POST_CONTENT
             , A.LIKE_COUNT
             , A.POST_TIME
             , A.SOLD_YN
             , A.REPORT_COUNT
             , A.BLIND_YN
             , A.ITEM_PRICE
             , A.POST_VIEW
          FROM POST A
         ORDER BY A.POST_CODE DESC
	</select>
	<select id="selectPostBySearchOption" parameterType="SearchOption" resultMap="postDefaultResultMap">
		SELECT
			   A.POST_CODE
             , A.SELLER_CODE
             , A.BUYER_CODE
             , A.POST_CAT_CODE
             , A.AUTH_CODE
             , A.POST_TITLE
             , A.POST_CONTENT
             , A.LIKE_COUNT
             , A.POST_TIME
             , A.SOLD_YN
             , A.REPORT_COUNT
             , A.BLIND_YN
             , A.ITEM_PRICE
             , A.POST_VIEW
          FROM POST A
		<if test="option == 'sellerCode'">
		  JOIN "USER" B ON (A.SELLER_CODE = B.USER_CODE)
		 WHERE B.USER_ID LIKE '%' || #{value} || '%'
		</if>
		<if test="option == 'title'">
		 WHERE A.POST_TITLE LIKE '%' || #{value} || '%'
		</if>
		<if test="option == 'content'">
		 WHERE A.POST_CONTENT LIKE '%' || #{value} || '%'
		</if>
         ORDER BY A.POST_CODE DESC
	</select>
	<select id="selectPostforAdmin" parameterType="hashmap" resultType="PostForAdminDTO">
		SELECT
		       A.POST_CODE AS "code"
		     , B.AUTH_STATUS AS "authStatus"
		     , A.POST_TITLE AS "title"
		     , C.USER_ID AS "sellerId"
		     , A.BLIND_YN AS "blindYn"
		     , A.POST_TIME AS "time"
		  FROM POST A
		  JOIN AUTHENTIC B ON (A.AUTH_CODE = B.AUTH_CODE)
		  JOIN "USER" C ON (A.SELLER_CODE = C.USER_CODE)
		<where>
			<if test="authCode != null and authCode gt 0">
				A.AUTH_CODE = #{authCode}
			</if>
			<if test="blindYn != null and blindYn != 'both'">
				AND A.BLIND_YN = #{blindYn}
			</if>
			<if test="sellerId != null and sellerId != ''">
				AND C.USER_ID = #{sellerId}
			</if>
			<if test="title != null and title != ''">
				AND A.POST_TITLE LIKE '%' || #{title} || '%'
			</if>
			<if test="content != null and content != ''">
				AND A.POST_CONTENT LIKE '%' || #{content} || '%'
			</if>
		</where>
		 ORDER BY A.POST_CODE DESC
	</select>
	
	<insert id="insertNewPost" parameterType="PostDTO">
		INSERT
		  INTO Post A
		(
		  A.POST_CODE
        , A.SELLER_CODE
        , A.POST_CAT_CODE
        , A.POST_TITLE
        , A.POST_CONTENT
        , A.ITEM_PRICE
		)
		VALUES
		(
		  SEQ_POST_CODE.NEXTVAL
		, #{sellerCode}
		, 1
		, #{title}
		, #{content}
		, #{itemPrice}
		)
	</insert>
	
	<update id="blindPostByCode" parameterType="_int">
		UPDATE
			   POST A
		   SET A.BLIND_YN = 'Y'
		 WHERE A.POST_CODE = #{code}
	</update>
	<update id="modifyPostBlind" parameterType="hashmap">
		UPDATE
			   POST A
		   SET A.BLIND_YN = #{blindYn}
		 WHERE A.POST_CODE = #{code}
	</update>
	<update id="modifyPost" parameterType="hashmap">
		UPDATE
			   POST A
		<set>
			<if test="title != null and title != ''">
				A.POST_TITLE = #{title}
			</if>
			<if test="content != null and content != ''">
				A.POST_CONTENT = #{content}
			</if>
			<if test="itemPrice != null and itemPrice gt 0">
				A.ITEM_PRICE = #{itemPrice}
			</if>
		</set>
		<if test="code != null and code gt 0">
		 WHERE A.POST_CODE = #{code}
		</if>
	</update>
	
	<delete id="deletePostByCode" parameterType="_int">
		DELETE
		  FROM POST A
		 WHERE A.POST_CODE = #{code}
	</delete>
</mapper>
